name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      # Build
      - name: Build the file
        run: |
          npm install
          npm run build

      # Upload build file to the release as an asset.
      - name: Upload JS to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/home-assistant-whereabouts-card.js
          asset_name: home-assistant-whereabouts-card.js
          tag: ${{ github.ref }}
          overwrite: true